extends ../layout/layout

block append head
  link(rel='stylesheet', href='./style/index.css')
block body
  #body
    .container
      .row.belong-form
        .col-md-9
          h2.blog-title-label title
          .input-group
            span.input-group-addon T
            input#blog-title.form-control(placeholder='Blog Title', type='text')
      .row.belong-form
        .col-md-9 
          h2.blog-title-label content
          textarea#blog-content.form-control(rows=20)
      .row
        .col-md-9.view-preview
      .row
        .col-md-9(style="position:static")
          include ../widget/3d_loading/loading
      .row.commit-bar
        .col-md-9
          a#btn-preview.btn.btn-primary Priview
          a#btn-commit.btn.btn-default Commit
  script(type="text/javascript").
    seajs.config({
      base: '/lib',
      alias: {
        'jquery': 'jquery/jquery.js'
        ,'bootstrap': 'bootstrap/js/bootstrap.js'
      }
    })
    
    seajs.use('./index', function(init) {
      init()
    })
