doctype html
html
  head
    title= title
    link(rel='stylesheet', href='lib/reset/normalize.css')
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    block head
  body
    block body
    script(type='text/javascript', src='lib/mod.js')
