doctype html
html
  head
    title= title
    link(rel='stylesheet', href='lib/reset/normalize.css')
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/highlight.js/default.min.css')
    script(type='text/javascript', src='lib/seajs/sea.js')
    block head
  body
    block body
